@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}

/* override bootstrap */
.glyphicon-question-sign {
    cursor: help;
}

footer {
    padding: 20px 0;
    color: #999;
}

/* self-defined */
