#set($siteTitle = "#var('site.title')")
#set($siteTopic = "#var('site.topic')")
#set($siteKeywords = "#var('site.keywords')")

<!DOCTYPE HTML>
<html lang="en">
    <head>
        #if($pageTitle)
        <title>$!pageTitle - $!siteTopic</title>
        #else
        <title>$!siteTitle</title>
        #end
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="$!siteKeywords, $!pageKeywords" />
        <meta name="description" content="$!pageDesc">
        <meta name="author" content="$!siteTitle">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="#staticUrl('favicon.ico')" type="image/ico">

        <!-- CSS -->
        <link rel="stylesheet"
        href="#staticUrl('css/3-party/bootstrap.min.css')" type="text/css" />
        <link rel="stylesheet" href="#staticUrl('css/common.css')" type="text/css" />
        <!--
        <link rel="stylesheet" href="#staticUrl('css/print.css')" type="text/css" media="print" />
        -->

        <!-- JS -->
        <script src="#staticUrl('js/3-party/jquery_bootstrap.min.js')"></script>
        <script src="#staticUrl('js/common.js')"></script>
    </head>
    <body>
        ## --------------------------------- HTML --------------------------------- ##

        #parse("common/header.vm")
        $screen_content
        #parse("common/footer.vm")

        ## --------------------------------- JS --------------------------------- ##

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <div class="share-container">
            ## e.g. Add This
        </div>

        <div class="stat-container">
            ## e.g. Google Analytics
        </div>
    </body>
</html>
